<!doctype html>
{% load i18n static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!-- Fontawesome   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'site/css/style.css' %}" crossorigin="anonymous" />

     <link rel="icon" type="image/png" href="{% static 'site/img/benepyto.svg' %}" sizes="32x32" />
     <link rel="icon" type="image/png" href="{% static 'site/img/benepyto.svg' %}" sizes="16x16" />

    <title>Bene Pyto</title>
  </head>
  <body>
    <div class='hero is-fullheight'>
        <nav class="navbar has-background-primary-light" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'product:product-validator' %}">
              <img src="{% static 'site/img/benepyto.svg' %}" width="40" height="40">
                <p class="subtitle has-text-weight-bold is-size-6">Bene Pyto</p>
            </a>
          </div>
        </nav>

        {% block content %}
        {% endblock %}

        <!---------- FOOTER ---------->
        <div class="hero-footer p-3 has-background-primary">
            <div class="container">
              <!--     FOOTER     -->
              <div class="columns is-multiline is-vcentered is-mobile">
                <div class="column
                is-12-mobile
                is-6-tablet
                is-6-desktop
                is-6-widescreen
                is-6-fullhd">
                <figure class="image py-3 ml-4" style="width: 300px; height: 100px;">
                  <img src="{% static 'site/img/tagline.png' %}" />
                </figure>
                <p class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile has-text-white mt-5 ml-4">Alamat <br> Jl Raya CIFOR, kelurahan bubulak, bogor</p>
                </div>

                <div class="column
                is-12-mobile
                is-6-tablet
                is-6-desktop
                is-6-widescreen
                is-6-fullhd pt-1">
                  <h1 class="subtitle is-size-4-tablet is-size-5-mobile mb-4 px-4 has-text-white">
                    Kontak
                  </h1>
                  <div class="columns is-multiline is-mobile px-4">
                    <div class="column p-2">
                      <article class="media">
                        <figure class="media-left">
                          <span class="icon is-medium">
                            <a href="https://api.whatsapp.com/send?phone=6281311200526" target="_blank">
                                <i class="fa-brands fa-2x fa-whatsapp has-text-white"></i>
                            </a>
                          </span>
                        </figure>
                      </article>
                    </div>
                    <div class="column p-2">
                      <article class="media">
                        <figure class="media-left">
                          <span class="icon is-medium">
                            <a href="https://www.instagram.com/benepyto/" target="_blank">
                                <i class="fa-brands fa-2x fa-instagram has-text-white"></i>
                            </a>
                          </span>
                        </figure>
                      </article>
                    </div>
                    <div class="column p-2">
                      <article class="media">
                        <figure class="media-left">
                          <span class="icon is-medium">
                            <a href="https://www.facebook.com/benepyto" target="_blank">
                                <i class="fa-brands fa-2x fa-facebook-f has-text-white"></i>
                            </a>
                          </span>
                        </figure>
                      </article>
                    </div>
                  </div>
                </div>
                <div class="column is-12 has-text-centered mt-5 has-text-weight-semibold">
                  <p class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile has-text-white">
                      © {% now "Y" %} Copyright {{ nama_domain }}
                  </p>
                </div>
              </div>
              <!--     FOOTER END     -->
            </div>
          </div>
        <!---------- FOOTER END ---------->
    </div>
  </body>
</html>